<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>CRUD</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/inicio}">Quinto Impacto</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/inicio}">INICIO <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/crud}">CRUD ALUMNOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/muestra}">CRUD CURSOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/demostracion}">CRUD PROFESORES</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>



<div class="container">
    <div class="row my-5">
        <div class="col-3">
            <h4>CRUD Alumno</h4>
        </div>
        <div class="col-9 d-flex flex-row-reverse">
            <a th:href="@{/formulario/alumno/0}" class="btn btn-success">Agregar Alumno</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Historia</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="alumno : ${alumnos}" >
                    <td th:text="${alumno.nombre}"></td>
                    <td th:text="${alumno.edad}"></td>
                    <td th:text="${alumno.fecha}"></td>
                    <td th:text="${alumno.historia}"></td>
                    <td th:text="${alumno.cursos}"></td>
                    <td>
                        <a th:href="@{/formulario/alumno/{id}(id=${alumno.id})}" class="btn btn-warning">Editar</a>
                        <a th:if="${alumno.activo}" th:href="@{/eliminar/alumno/{id}(id=${alumno.id})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>